.clearButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: inherit;
  line-height: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.dropdownItem {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  width: 173px;
  padding: 5px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.dropdownItem:last-child {
  border: 0;
}

.textColorRed {
  color: #FF4D4F;
}