:root {
  font-family: Pretendard, "Apple SD Gothic Neo", "Nanum Gothic",
    "Malgun Gothic", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}
